<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
  <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
  <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
  <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

    <app-header></app-header>

    <!--Main Content Area-->
    <main id="content">

    <app-intro></app-intro>

     <!--Gallery-->
      <app-gallery></app-gallery>
    <!--End of Gallery-->

    <!--Content Section-->
    <app-content></app-content>
    <!--End of Content Section-->

    <!--Testimonials-->
    <app-testimonial></app-testimonial>
    <!--End of Testimonials-->

    <!--Clients-->
    <app-clients></app-clients>
    <!--End of Clients-->

    <!--Pricing Tables-->
    <app-pricing></app-pricing>
    <!--End of Pricing Tables-->

  </main>
  <!--End Main Content Area-->

  <!--Footer-->
  <app-footer></app-footer>
  <!--End of Footer-->

</div>
